<form class="item--untyped theme-dark">
	<div class="page-content">
		{{> dotdungeon.untyped.v2.general }}
		{{> dotdungeon.untyped.v2.details }}
		{{#if meta.showSettingsTab}}
			{{> dotdungeon.untyped.v2.settings }}
		{{/if}}
		{{> dotdungeon.untyped.v2.effects }}
	</div>

	<div class="nav-bar">
		<nav data-group="page" class="page" aria-label="">
			<button type="button" data-group="page" data-tab="general">General</button>
			<button type="button" data-group="page" data-tab="details">Details</button>
			<button type="button" data-group="page" data-tab="effects">Effects</button>
			{{#if meta.showSettingsTab}}
				<button type="button" data-group="page" data-tab="settings">Settings</button>
			{{/if}}
		</nav>
	</div>
</form>
