<form autocomplete="off">
	<h2>{{localize "stat.title"}}</h2>
	{{> dotdungeon.stat stat="build" }}
	{{> dotdungeon.stat stat="meta" }}
	{{> dotdungeon.stat stat="presence" }}
	{{> dotdungeon.stat stat="hands" }}
	{{> dotdungeon.stat stat="tilt" }}
	{{> dotdungeon.stat stat="rng" }}
</form>