<form autocomplete="off" class="actor--pc">
	{{#> dotdungeon.panel class="avatar" title="dotdungeon.panel.avatar"}}
		Avatar Content
	{{/ dotdungeon.panel}}
	{{#> dotdungeon.panel class="stats" title="dotdungeon.panel.statistics"}}
		{{#each (dotdungeon-array "build" "meta" "presence" "hands" "tilt" "rng")}}
			{{> dotdungeon.stat name=this}}
		{{/each}}
	{{/ dotdungeon.panel}}
	{{#> dotdungeon.panel class="skills" title="dotdungeon.panel.skills"}}
		{{> dotdungeon.skills }}
	{{/ dotdungeon.panel}}
	{{#> dotdungeon.panel class="backpack" title="dotdungeon.panel.backpack"}}
		Backpack
	{{/ dotdungeon.panel}}
	{{#> dotdungeon.panel class="sync" title="dotdungeon.panel.sync"}}
		Sync
	{{/ dotdungeon.panel}}
	{{#> dotdungeon.panel class="aspect" title="dotdungeon.panel.aspect"}}
		Aspect
	{{/ dotdungeon.panel}}
	{{#> dotdungeon.panel class="weapons" title="dotdungeon.panel.weapons"}}
		Weapons
	{{/ dotdungeon.panel}}
	{{#> dotdungeon.panel class="spells" title="dotdungeon.panel.spells"}}
		Spells
	{{/ dotdungeon.panel}}
	{{#> dotdungeon.panel class="roles" title="dotdungeon.panel.roles"}}
		Roles
	{{/ dotdungeon.panel}}
	{{#> dotdungeon.panel class="mounts" title="dotdungeon.panel.mounts"}}
		Mounts
	{{/ dotdungeon.panel}}
	{{#> dotdungeon.panel class="summons" title="dotdungeon.panel.summons"}}
		Summons
	{{/ dotdungeon.panel}}
	{{#> dotdungeon.panel class="storage" title="dotdungeon.panel.storage"}}
		Storage
	{{/ dotdungeon.panel}}
</form>