<form autocomplete="off" class="actor--pc">
	{{!-- All panels here --}}
	<section class="tab-content">
		<div class="tab" data-group="page" data-tab="avatar">Avatar</div>
		<div class="tab" data-group="page" data-tab="stats">
			<div class="panel-1dp">
				<h2>Build</h2>
			</div>
			<div class="panel-1dp">
				<h2>Meta</h2>
			</div>
			<div class="panel-1dp">
				<h2>Presence</h2>
			</div>
			<div class="panel-1dp">
				<h2>Hands</h2>
			</div>
			<div class="panel-1dp">
				<h2>Tilt</h2>
			</div>
			<div class="panel-1dp">
				<h2>RNG</h2>
			</div>
		</div>
		<div class="tab" data-group="page" data-tab="combat">Combat</div>
		<div class="tab" data-group="page" data-tab="inventory">Inventory</div>
		<div class="tab" data-group="page" data-tab="spells">Spells</div>
	</section>


	{{!-- Tab list here --}}
	<nav data-group="page">
		<button type="button" data-tab="avatar">Avatar</button>
		<button type="button" data-tab="stats">Stats / Skills</button>
		<button type="button" data-tab="combat">Combat</button>
		<button type="button" data-tab="inventory">Inventory</button>
		<button type="button" data-tab="spells">Spells</button>
	</nav>
</form>
