.dotdungeon:not(.style-v3) .skill {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 8px;

	&-group {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 4px;

		h3 {
			margin-top: 8px;
			font-size: 1.2em;
			width: 100%;
			text-align: center;
		}
	}
}