node_modules/
*.tmp
*.bak.*
references.txt
.styles/
/foundry.js
*.lock

# Ignore all of the binaries and stuff that gets built for Foundry from the raw
# JSON data because it's annoying seeing it in my git changes when it isn't actually
# needed.
/packs/**/*
!/packs/**/*/
!/packs/**/*.json