$iconSizes: 12, 14, 16, 18, 20, 22, 24;

.dotdungeon.style-v3 > .window-content {
	.icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;

		// The various icon sizes
		@each $size in $iconSizes {
			&--#{$size} {
				height: #{$size}px;
				width: #{$size}px;
			};
		}
	}
}
