@use "../mixins/material" as material;

.dotdungeon.style-v3 > .window-content {
	nav:not(#context-menu) {
		display: flex;
		flex-direction: row;
		overflow-x: auto;
		gap: 8px;
		padding: 8px;
	}
}
