@use "../mixins/material";

.dotdungeon.style-v3 > .window-content input[type=number] {
	outline: none;
	border: none;
	@include material.elevate(3);
	padding: 4px 8px;
	color: white;
	transition: all 200ms ease-in-out;
	text-align: center;
	line-height: 1rem;

	&:hover {
		@include material.elevate(4);
	}

	&:focus-visible {
		@include material.elevate(6);
	}
}
