@use "../mixins/material" as material;

.dotdungeon.style-v3 > .window-content {
	.panel {
		@include material.elevate(2);
		border-radius: 4px;
		padding: var(--gap);

		&.space-between {
			justify-content: space-between;
		}

		&--row {
			@extend .panel;
			display: flex;
			flex-direction: row;
			gap: var(--gap);
			align-items: center;
		}

		&--column {
			@extend .panel;
			display: flex;
			flex-direction: column;
			gap: var(--gap);
			justify-content: center;
		}
	}
}
