@use "../mixins/material" as material;

.dotdungeon.style-v3 > .window-content textarea {
	outline: none;
	border: none;
	@include material.elevate(3);
	color: white;
	transition: all 200ms ease-in-out;
	font-family: inherit;
	font-size: 0.9rem;

	&:hover {
		@include material.elevate(4);
	}

	&:focus-visible {
		@include material.elevate(6);
	}

	&.no-resize {
		@extend textarea;
		resize: none;
	}
}
