@use "../../mixins/material";

.dotdungeon.style-v3 .item--untyped {
	.nav-bar {
		@include material.elevate(8);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 6px;

		nav {
			display: flex;
			flex-direction: row;
			gap: 8px;
			padding: 8px;
		}
	}

	.page-content {
		padding: 8px;
		height: 100%;
	}
}