@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");
.dotdungeon > .window-content ::-webkit-scrollbar {
  width: 10px;
}
.dotdungeon > .window-content ::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
.dotdungeon > .window-content h2, .dotdungeon > .window-content h3, .dotdungeon > .window-content h4, .dotdungeon > .window-content h5, .dotdungeon > .window-content h6 {
  all: initial;
  display: block;
  box-sizing: border-box;
  font-family: "Pixelify Sans", sans-serif;
  margin: 0;
}
.dotdungeon > .window-content label {
  cursor: pointer;
}
.dotdungeon > .window-content button, .dotdungeon > .window-content button:hover {
  all: initial;
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  cursor: pointer;
}
.dotdungeon > .window-content button:disabled, .dotdungeon > .window-content button:hover:disabled {
  cursor: default;
}
.dotdungeon > .window-content input[type=text],
.dotdungeon > .window-content input[type=number],
.dotdungeon > .window-content textarea {
  padding: 5px 7px;
  border-width: 2px;
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}
.dotdungeon > .window-content input[type=text]:focus, .dotdungeon > .window-content input[type=text]:active,
.dotdungeon > .window-content input[type=number]:focus,
.dotdungeon > .window-content input[type=number]:active,
.dotdungeon > .window-content textarea:focus,
.dotdungeon > .window-content textarea:active {
  border-color: rgb(0, 0, 0);
}
.dotdungeon > .window-content textarea {
  resize: vertical;
}
.dotdungeon > .window-content select, .dotdungeon > .window-content select:hover {
  cursor: pointer;
}
.dotdungeon > .window-content select :disabled, .dotdungeon > .window-content select:hover :disabled {
  cursor: default;
}

.dotdungeon.dotdungeon.dotdungeon.dotdungeon {
  container-type: size;
}
.dotdungeon.dotdungeon.dotdungeon.dotdungeon > .window-content {
  padding: 0;
  background: #f2f2f2;
}
.dotdungeon.dotdungeon.dotdungeon.dotdungeon > .window-content .debug-data {
  opacity: 60%;
  font-family: sans-serif;
  word-break: break-all;
}

.dotdungeon.dotdungeon.dotdungeon.dotdungeon .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.dotdungeon.dotdungeon.dotdungeon.dotdungeon .icon--12 {
  height: 12px;
  width: 12px;
}
.dotdungeon.dotdungeon.dotdungeon.dotdungeon .icon--14 {
  height: 14px;
  width: 14px;
}
.dotdungeon.dotdungeon.dotdungeon.dotdungeon .icon--16 {
  height: 16px;
  width: 16px;
}
.dotdungeon.dotdungeon.dotdungeon.dotdungeon .icon--18 {
  height: 18px;
  width: 18px;
}
.dotdungeon.dotdungeon.dotdungeon.dotdungeon .icon--20 {
  height: 20px;
  width: 20px;
}
.dotdungeon.dotdungeon.dotdungeon.dotdungeon .icon--22 {
  height: 22px;
  width: 22px;
}
.dotdungeon.dotdungeon.dotdungeon.dotdungeon .icon--24 {
  height: 24px;
  width: 24px;
}

.dotdungeon.dotdungeon.dotdungeon.dotdungeon > .window-content button {
  border-radius: 4px;
  box-sizing: border-box;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
  border-radius: 4px;
  transition: 400ms;
  padding: 4px 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.dotdungeon.dotdungeon.dotdungeon.dotdungeon > .window-content button.confirm {
  background: #048A81;
  color: white;
}
.dotdungeon.dotdungeon.dotdungeon.dotdungeon > .window-content button.confirm:hover, .dotdungeon.dotdungeon.dotdungeon.dotdungeon > .window-content button.confirm:focus-visible {
  background: transparent;
  color: #048A81;
  border-color: #048A81;
}
.dotdungeon.dotdungeon.dotdungeon.dotdungeon > .window-content button.neutral {
  background: #007ACC;
  color: white;
}
.dotdungeon.dotdungeon.dotdungeon.dotdungeon > .window-content button.neutral:hover, .dotdungeon.dotdungeon.dotdungeon.dotdungeon > .window-content button.neutral:focus-visible {
  background: transparent;
  color: #007ACC;
  border-color: #007ACC;
}
.dotdungeon.dotdungeon.dotdungeon.dotdungeon > .window-content button.danger {
  background: #960200;
  color: white;
}
.dotdungeon.dotdungeon.dotdungeon.dotdungeon > .window-content button.danger:hover, .dotdungeon.dotdungeon.dotdungeon.dotdungeon > .window-content button.danger:focus-visible {
  background: transparent;
  color: #960200;
  border-color: #960200;
}
.dotdungeon.dotdungeon.dotdungeon.dotdungeon > .window-content button.reduced-padding {
  padding: 2px 4px;
}
.dotdungeon.dotdungeon.dotdungeon.dotdungeon > .window-content button.equal-padding {
  padding: 4px 4px;
}
.dotdungeon.dotdungeon.dotdungeon.dotdungeon > .window-content button.equal-padding.reduced-padding {
  padding: 2px 2px;
}

.dotdungeon .stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dotdungeon .skill {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
}
.dotdungeon .skill-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
.dotdungeon .skill-group h3 {
  margin-top: 8px;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
}

.dotdungeon .panel {
  display: grid;
  grid-template-rows: min-content 1fr;
  border: 2px solid black;
}
.dotdungeon .panel__header {
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0 4px;
}
.dotdungeon .panel__header h2 {
  all: initial;
  display: block;
  box-sizing: border-box;
  color: white;
  flex-grow: 1;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 20px;
}
.dotdungeon .panel__header .icon {
  height: 20px;
  width: 20px;
  aspect-ratio: 1/1;
}
.dotdungeon .panel__content {
  padding: 8px;
}

@container (max-width: 400px) {
  .dotdungeon .panel__header .icon {
    display: none;
    visibility: hidden;
  }
}
.dotdungeon .actor--pc {
  display: grid;
  grid-template-areas: "profile stats stats" "profile skills skills" "sync skills skills" "spells weapons aspect" "spells weapons aspect" "backpack roles mounts" "backpack roles mounts" "pets storage storage" "pets storage storage";
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: min-content 1fr repeat(7, min-content);
  padding: 4px;
  gap: 4px;
}
.dotdungeon .actor--pc details {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 4px;
  margin-bottom: 8px;
}
.dotdungeon .actor--pc details summary {
  cursor: pointer;
}
.dotdungeon .actor--pc details[open] .expanded-rotate {
  transform: rotate(90deg);
}
.dotdungeon .actor--pc .panel--profile {
  grid-area: profile;
}
.dotdungeon .actor--pc .panel--profile .avatar {
  width: 100%;
  aspect-ratio: 1/1;
}
.dotdungeon .actor--pc .panel--profile label, .dotdungeon .actor--pc .panel--profile input {
  width: 100%;
}
.dotdungeon .actor--pc .panel--stats {
  grid-area: stats;
}
.dotdungeon .actor--pc .panel--stats .panel__content {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-evenly;
  padding: 8px;
  flex-wrap: wrap;
}
.dotdungeon .actor--pc .panel--skills {
  grid-area: skills;
}
.dotdungeon .actor--pc .panel--skills .panel__content {
  display: grid;
  row-gap: 8px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, min-content));
}
.dotdungeon .actor--pc .panel--backpack {
  grid-area: backpack;
}
.dotdungeon .actor--pc .panel--backpack .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dotdungeon .actor--pc .panel--backpack .col {
  display: flex;
  flex-direction: column;
}
.dotdungeon .actor--pc .panel--backpack .grow {
  flex-grow: 1;
}
.dotdungeon .actor--pc .panel--backpack .panel__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.dotdungeon .actor--pc .panel--backpack .bytes-input,
.dotdungeon .actor--pc .panel--backpack .supplies-count,
.dotdungeon .actor--pc .panel--backpack .materials-count {
  width: 25%;
  text-align: center;
}
.dotdungeon .actor--pc .panel--backpack textarea {
  resize: vertical;
}
.dotdungeon .actor--pc .panel--sync {
  grid-area: sync;
}
.dotdungeon .actor--pc .panel--sync .panel__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.dotdungeon .actor--pc .panel--sync .respawns,
.dotdungeon .actor--pc .panel--sync .sync {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dotdungeon .actor--pc .panel--sync .respawns__header,
.dotdungeon .actor--pc .panel--sync .sync__header {
  flex-grow: 1;
}
.dotdungeon .actor--pc .panel--sync .sync__input {
  width: 80px;
  margin: 3px 5px;
}
.dotdungeon .actor--pc .panel--aspect {
  grid-area: aspect;
}
.dotdungeon .actor--pc .panel--aspect .panel__content {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 4px;
  text-align: center;
}
.dotdungeon .actor--pc .panel--aspect .panel__content textarea {
  resize: vertical;
}
.dotdungeon .actor--pc .panel--aspect .aspect__used {
  display: flex;
  align-items: center;
  gap: 4px;
}
.dotdungeon .actor--pc .panel--aspect .aspect__used--input {
  margin: 0;
}
.dotdungeon .actor--pc .panel--weapons {
  grid-area: weapons;
}
.dotdungeon .actor--pc .panel--weapons .weapon {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.dotdungeon .actor--pc .panel--weapons .weapon__name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dotdungeon .actor--pc .panel--weapons .weapon__name input {
  width: 50%;
}
.dotdungeon .actor--pc .panel--weapons .weapon__group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}
.dotdungeon .actor--pc .panel--weapons .weapon__ammo-type, .dotdungeon .actor--pc .panel--weapons .weapon__damage-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dotdungeon .actor--pc .panel--weapons .weapon__is-scoped, .dotdungeon .actor--pc .panel--weapons .weapon__is-ranged {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.dotdungeon .actor--pc .panel--roles {
  grid-area: roles;
}
.dotdungeon .actor--pc .panel--roles .panel__content {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  height: 100%;
  gap: 4px;
}
.dotdungeon .actor--pc .panel--roles .panel__content textarea {
  resize: vertical;
}
.dotdungeon .actor--pc .panel--spells {
  grid-area: spells;
}
.dotdungeon .actor--pc .panel--spells .spell {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.dotdungeon .actor--pc .panel--spells .spell .placeholder {
  opacity: 75%;
}
.dotdungeon .actor--pc .panel--spells .panel__content {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.dotdungeon .actor--pc .panel--mounts {
  grid-area: mounts;
}
.dotdungeon .actor--pc .panel--pets {
  grid-area: pets;
}
.dotdungeon .actor--pc .panel--pets .panel__content {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 4px;
}
.dotdungeon .actor--pc .panel--pets .panel__content textarea {
  resize: vertical;
}
.dotdungeon .actor--pc .panel--storage {
  grid-area: storage;
}
.dotdungeon .actor--pc .actions {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 4px;
}
.dotdungeon .actor--pc .panel__content .center {
  text-align: center;
}

@container (max-width: 620px) {
  .dotdungeon .actor--pc {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(15, min-content);
    grid-template-areas: "profile stats" "profile skills" "sync skills" "weapons skills" "weapons skills" "backpack aspect" "backpack aspect" "backpack roles" "backpack roles" "backpack roles" "backpack spells" "pets spells" "pets storage" "mounts storage" "mounts storage";
  }
  .dotdungeon .actor--pc .panel--stats .panel__content {
    flex-wrap: wrap;
  }
  .dotdungeon .actor--pc .panel--skills .panel__content {
    display: flex;
    flex-direction: column;
  }
}
@container (max-width: 400px) {
  .dotdungeon .actor--pc {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, min-content);
    grid-template-areas: "profile" "stats" "sync" "skills" "aspect" "roles" "backpack" "weapons" "spells" "mounts" "pets" "storage";
  }
  .dotdungeon .actor--pc .panel--skills .skill {
    flex-direction: column;
  }
}
.dotdungeon .actor--basic-sync {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.dotdungeon .actor--basic-sync label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dotdungeon .actor--basic-sync .sync-input {
  width: 30%;
  text-align: center;
}
.dotdungeon .actor--basic-sync .name-input {
  width: 60%;
  text-align: center;
}
.dotdungeon--sync-sheet header .configure-token {
  display: none;
  visibility: hidden;
}

@container (max-width: 300px) {
  .dotdungeon--sync-sheet header .configure-sheet {
    display: none;
    visibility: hidden;
  }
}
.dotdungeon .item--aspect {
  padding: 4px;
}
.dotdungeon .item--aspect input[type=text] {
  font-size: 1.5em;
  height: 1.5em;
  width: 100%;
}
.dotdungeon .item--aspect textarea {
  width: 100%;
  resize: vertical;
}

.dotdungeon .item--spell {
  padding: 4px;
}
.dotdungeon .item--spell input[type=text] {
  font-size: 1.5em;
  height: 1.5em;
  width: 100%;
}
.dotdungeon .item--spell textarea {
  width: 100%;
  resize: vertical;
}

.dotdungeon .item--pet {
  padding: 4px;
}
.dotdungeon .item--pet input[type=text] {
  font-size: 1.5em;
  height: 1.5em;
  width: 100%;
}
.dotdungeon .item--pet textarea {
  width: 100%;
  resize: vertical;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../styles/generic.scss%22,%22../styles/mixins/_foundry.scss%22,%22../styles/_vars.scss%22,%22../styles/mixins/_partials.scss%22,%22../styles/global/icons.scss%22,%22../styles/global/buttons.scss%22,%22../styles/sheets/partials/stat.scss%22,%22../styles/sheets/partials/skill.scss%22,%22../styles/sheets/partials/panel.scss%22,%22../styles/mixins/_breakpoints.scss%22,%22../styles/sheets/actor/mvp.scss%22,%22../styles/sheets/actor/sync/basic.scss%22,%22../styles/sheets/items/aspect.scss%22,%22../styles/sheets/items/spell.scss%22,%22../styles/sheets/items/pet.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAIQ;AAKP;EACC;;AAED;EACC;;AAGD;ECfA;EACA;EACA;EDeC,aEhBW;EFiBX;;AAGD;EACC;;AAGD;ECzBA;EACA;EACA;EDyBC;EACA;;AAEA;EACC;;AAIF;AAAA;AAAA;EAGC;EGpCD;EACA;EACA;EACA;EACA;EACA,aDLW;;ACOX;AAAA;AAAA;AAAA;AAAA;EAEC;;AH+BD;EACC;;AAGD;EACC;;AAEA;EACC;;;AAMH;EACC;;AAEA;EACC;EACA,YEzDW;;AF2DX;EACC;EACA,aE/DS;EFgET;;;AIhEF;EACC;EACA;EACA;;AAIC;EACC;EACA;;AAFD;EACC;EACA;;AAFD;EACC;EACA;;AAFD;EACC;EACA;;AAFD;EACC;EACA;;AAFD;EACC;EACA;;AAFD;EACC;EACA;;;ACTH;EACC;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACC,YHXc;EGYd,OHXe;;AGYf;EACC;EACA,OHfa;EGgBb,cHhBa;;AGoBf;EACC,YHlBc;EGmBd,OHlBe;;AGmBf;EACC;EACA,OHtBa;EGuBb,cHvBa;;AG2Bf;EACC,YHzBa;EG0Bb,OHzBc;;AG0Bd;EACC;EACA,OH7BY;EG8BZ,cH9BY;;AGkCd;EACC;;AAID;EACC;;AACA;EACC;;;ACvDJ;EACC;EACA;EACA;;ACHD;EACC;EACA;EACA;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;EACA;;;ACdH;EACC;EACA;EAEA;;AAEA;EACC;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EPlBD;EACA;EACA;EOkBE;EACA;EACA,aNrBU;EMsBV;;AAGD;EAEC,QADO;EAEP,OAFO;EAGP;;AAIF;EACC;;;AC7BD;EDkCA;IACC;IACA;;;AExCF;EACC;EACA,qBACC;EASD;EACA,oBACC;EAGD;EACA;;AAEA;EACC;EACA;EACA;EACA;;AAEA;EACC;;AAIA;EACC;;AAMF;EACC;;AACA;EACC;EACA;;AAGD;EACC;;AAGF;EACC;;AACA;EACC;EACA;EACA;EACA;EACA;EACA;;AAGF;EACC;;AAEA;EACC;EACA;EACA;EACA;;AAGF;EACC;;AAEA;EACC;EACA;EACA;;AAED;EACC;EACA;;AAED;EACC;;AAGD;EACC;EACA;EACA;;AAGD;AAAA;AAAA;EAGC;EACA;;AAGD;EACC;;AAGF;EACC;;AAEA;EACC;EACA;EACA;;AAGD;AAAA;EAEC;EACA;EACA;;AAEA;AAAA;EACC;;AAIF;EACC;EACA;;AAGF;EACC;;AACA;EACC;EACA;EACA;EACA;;AAEA;EACC;;AAKD;EACC;EACA;EACA;;AAEA;EACC;;AAKJ;EACC;;AAEA;EACC;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;EACA;;AAEA;EACC;;AAGF;EACC;EACA;EACA;;AAED;EACC;EACA;EACA;;AAED;EACC;EACA;EACA;EACA;;AAIH;EACC;;AACA;EACC;EACA;EACA;EACA;;AAEA;EACC;;AAIH;EACC;;AAEA;EACC;EACA;EACA;;AAEA;EACC;;AAIF;EACC;EACA;EACA;;AAGF;EACC;;AAED;EACC;;AAEA;EACC;EACA;EACA;;AAEA;EACC;;AAIH;EACC;;AAIF;EACC;EACA;EACA;EACA;;AAIA;EACC;;;AD9PF;ECsQC;IACC;IACA;IACA,qBACC;;EAkBC;IACC;;EAKD;IACC;IACA;;;AD9RL;ECwSC;IACC;IACA;IACA,qBACC;;EAeC;IACC;;;AChUL;EACC;EACA;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;;AAGD;EACC;EACA;;AAGD;EACC;EACA;;AAMA;EACC;EACA;;;AFlBH;EE4BG;IACC;IACA;;;ACzCL;EACC;;AAEA;EACC;EACA;EACA;;AAGD;EACC;EACA;;;ACXF;EACC;;AAEA;EACC;EACA;EACA;;AAGD;EACC;EACA;;;ACXF;EACC;;AAEA;EACC;EACA;EACA;;AAGD;EACC;EACA%22,%22file%22:%22root.css%22%7D */
