@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");
.dotdungeon > .window-content ::-webkit-scrollbar {
  width: 10px;
}
.dotdungeon > .window-content ::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
.dotdungeon > .window-content h2, .dotdungeon > .window-content h3, .dotdungeon > .window-content h4, .dotdungeon > .window-content h5, .dotdungeon > .window-content h6 {
  all: initial;
  display: block;
  box-sizing: border-box;
  font-family: "Pixelify Sans", sans-serif;
  margin: 0;
}
.dotdungeon > .window-content label {
  cursor: pointer;
}
.dotdungeon > .window-content button, .dotdungeon > .window-content button:hover {
  all: initial;
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  cursor: pointer;
}
.dotdungeon > .window-content button:disabled, .dotdungeon > .window-content button:hover:disabled {
  cursor: default;
}
.dotdungeon > .window-content input[type=text],
.dotdungeon > .window-content input[type=number],
.dotdungeon > .window-content textarea {
  padding: 5px 7px;
  border-width: 2px;
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}
.dotdungeon > .window-content input[type=text]:focus, .dotdungeon > .window-content input[type=text]:active,
.dotdungeon > .window-content input[type=number]:focus,
.dotdungeon > .window-content input[type=number]:active,
.dotdungeon > .window-content textarea:focus,
.dotdungeon > .window-content textarea:active {
  border-color: rgb(0, 0, 0);
}
.dotdungeon > .window-content select, .dotdungeon > .window-content select:hover {
  cursor: pointer;
}
.dotdungeon > .window-content select :disabled, .dotdungeon > .window-content select:hover :disabled {
  cursor: default;
}
.dotdungeon > .window-content .debug-data {
  opacity: 60%;
  font-family: sans-serif;
}

.dotdungeon {
  container-type: size;
}
.dotdungeon > .window-content {
  padding: 0;
  background: #f2f2f2;
}

.dotdungeon .stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dotdungeon .skill {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
}
.dotdungeon .skill-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
.dotdungeon .skill-group h3 {
  margin-top: 8px;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
}

.dotdungeon .panel {
  display: grid;
  grid-template-rows: min-content 1fr;
  border: 2px solid black;
}
.dotdungeon .panel__header {
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0 4px;
}
.dotdungeon .panel__header h2 {
  all: initial;
  display: block;
  box-sizing: border-box;
  color: white;
  flex-grow: 1;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 20px;
}
.dotdungeon .panel__header .icon {
  height: 20px;
  width: 20px;
  aspect-ratio: 1/1;
}
.dotdungeon .panel__content {
  padding: 8px;
}

@container (max-width: 400px) {
  .dotdungeon .panel__header .icon {
    display: none;
    visibility: hidden;
  }
}
.dotdungeon .actor--pc {
  display: grid;
  grid-template-areas: "profile stats stats" "profile skills skills" "sync skills skills" "spells weapons aspect" "spells weapons aspect" "backpack roles mounts" "backpack roles mounts" "summons storage storage" "summons storage storage";
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: min-content 1fr repeat(7, min-content);
  padding: 4px;
  gap: 4px;
}
.dotdungeon .actor--pc .panel--profile {
  grid-area: profile;
}
.dotdungeon .actor--pc .panel--profile .avatar {
  width: 100%;
  aspect-ratio: 1/1;
}
.dotdungeon .actor--pc .panel--profile label, .dotdungeon .actor--pc .panel--profile input {
  width: 100%;
}
.dotdungeon .actor--pc .panel--stats {
  grid-area: stats;
}
.dotdungeon .actor--pc .panel--stats .panel__content {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-evenly;
  padding: 8px;
  flex-wrap: wrap;
}
.dotdungeon .actor--pc .panel--skills {
  grid-area: skills;
}
.dotdungeon .actor--pc .panel--skills .panel__content {
  display: grid;
  row-gap: 8px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, min-content));
}
.dotdungeon .actor--pc .panel--backpack {
  grid-area: backpack;
}
.dotdungeon .actor--pc .panel--backpack .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dotdungeon .actor--pc .panel--backpack .col {
  display: flex;
  flex-direction: column;
}
.dotdungeon .actor--pc .panel--backpack .grow {
  flex-grow: 1;
}
.dotdungeon .actor--pc .panel--backpack .panel__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.dotdungeon .actor--pc .panel--backpack .bytes-input,
.dotdungeon .actor--pc .panel--backpack .supplies-count,
.dotdungeon .actor--pc .panel--backpack .materials-count {
  width: 25%;
  text-align: center;
}
.dotdungeon .actor--pc .panel--backpack textarea {
  resize: vertical;
}
.dotdungeon .actor--pc .panel--sync {
  grid-area: sync;
}
.dotdungeon .actor--pc .panel--sync .panel__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.dotdungeon .actor--pc .panel--sync .respawns,
.dotdungeon .actor--pc .panel--sync .sync {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dotdungeon .actor--pc .panel--sync .respawns__header,
.dotdungeon .actor--pc .panel--sync .sync__header {
  flex-grow: 1;
}
.dotdungeon .actor--pc .panel--sync .sync__input {
  width: 80px;
  margin: 3px 5px;
}
.dotdungeon .actor--pc .panel--aspect {
  grid-area: aspect;
}
.dotdungeon .actor--pc .panel--aspect .panel__content {
  display: grid;
  grid-template-rows: min-content min-content min-content 1fr;
  height: 100%;
  gap: 4px;
}
.dotdungeon .actor--pc .panel--aspect .panel__content textarea {
  resize: vertical;
}
.dotdungeon .actor--pc .panel--weapons {
  grid-area: weapons;
}
.dotdungeon .actor--pc .panel--weapons .weapon {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.dotdungeon .actor--pc .panel--weapons .weapon__name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dotdungeon .actor--pc .panel--weapons .weapon__name input {
  width: 50%;
}
.dotdungeon .actor--pc .panel--weapons .weapon__group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}
.dotdungeon .actor--pc .panel--weapons .weapon__ammo-type, .dotdungeon .actor--pc .panel--weapons .weapon__damage-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dotdungeon .actor--pc .panel--weapons .weapon__is-scoped, .dotdungeon .actor--pc .panel--weapons .weapon__is-ranged {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.dotdungeon .actor--pc .panel--roles {
  grid-area: roles;
}
.dotdungeon .actor--pc .panel--roles .panel__content {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  height: 100%;
  gap: 4px;
}
.dotdungeon .actor--pc .panel--roles .panel__content textarea {
  resize: vertical;
}
.dotdungeon .actor--pc .panel--spells {
  grid-area: spells;
}
.dotdungeon .actor--pc .panel--mounts {
  grid-area: mounts;
}
.dotdungeon .actor--pc .panel--summons {
  grid-area: summons;
}
.dotdungeon .actor--pc .panel--storage {
  grid-area: storage;
}

@container (max-width: 620px) {
  .dotdungeon .actor--pc {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(15, min-content);
    grid-template-areas: "profile stats" "profile skills" "sync skills" "weapons skills" "weapons skills" "backpack aspect" "backpack aspect" "backpack roles" "backpack roles" "backpack roles" "backpack spells" "summons spells" "summons storage" "mounts storage" "mounts storage";
  }
  .dotdungeon .actor--pc .panel--stats .panel__content {
    flex-wrap: wrap;
  }
  .dotdungeon .actor--pc .panel--skills .panel__content {
    display: flex;
    flex-direction: column;
  }
}
@container (max-width: 400px) {
  .dotdungeon .actor--pc {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, min-content);
    grid-template-areas: "profile" "stats" "sync" "skills" "aspect" "roles" "backpack" "weapons" "spells" "mounts" "summons" "storage";
  }
  .dotdungeon .actor--pc .panel--skills .skill {
    flex-direction: column;
  }
}
.dotdungeon .actor--circle-sync {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.dotdungeon .actor--circle-sync label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dotdungeon .actor--circle-sync .sync-input {
  width: 30%;
  text-align: center;
}
.dotdungeon .actor--circle-sync .name-input {
  width: 60%;
  text-align: center;
}
.dotdungeon--sync-sheet header .configure-token {
  display: none;
  visibility: hidden;
}

@container (max-width: 300px) {
  .dotdungeon--sync-sheet header .configure-sheet {
    display: none;
    visibility: hidden;
  }
}
.dotdungeon .item--aspect {
  padding: 4px;
}
.dotdungeon .item--aspect input[type=text] {
  font-size: 1.5em;
  height: 1.5em;
  width: 100%;
}
.dotdungeon .item--aspect textarea {
  width: 100%;
  resize: vertical;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../styles/generic.scss%22,%22../styles/mixins/_foundry.scss%22,%22../styles/_vars.scss%22,%22../styles/mixins/_partials.scss%22,%22../styles/sheets/partials/stat.scss%22,%22../styles/sheets/partials/skill.scss%22,%22../styles/sheets/partials/panel.scss%22,%22../styles/mixins/_breakpoints.scss%22,%22../styles/sheets/actor/mvp.scss%22,%22../styles/sheets/actor/sync/basic.scss%22,%22../styles/sheets/items/aspect.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAIQ;AAKP;EACC;;AAED;EACC;;AAGD;ECfA;EACA;EACA;EDeC,aElBW;EFmBX;;AAGD;EACC;;AAGD;ECzBA;EACA;EACA;EDyBC;EACA;;AAEA;EACC;;AAIF;AAAA;AAAA;EAGC;EGpCD;EACA;EACA;EACA;EACA;EACA,aDPW;;ACSX;AAAA;AAAA;AAAA;AAAA;EAEC;;AH+BD;EACC;;AAEA;EACC;;AAIF;EACC;EACA,aEpDU;;;AFyDZ;EACC;;AAEA;EACC;EACA,YE5DW;;;AEHb;EACC;EACA;EACA;;ACHD;EACC;EACA;EACA;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;EACA;;;ACdH;EACC;EACA;EAEA;;AAEA;EACC;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;ELlBD;EACA;EACA;EKkBE;EACA;EACA,aJvBU;EIwBV;;AAGD;EAEC,QADO;EAEP,OAFO;EAGP;;AAIF;EACC;;;AC7BD;EDkCA;IACC;IACA;;;AExCF;EACC;EACA,qBACC;EASD;EACA,oBACC;EAGD;EACA;;AAGC;EACC;;AACA;EACC;EACA;;AAGD;EACC;;AAGF;EACC;;AACA;EACC;EACA;EACA;EACA;EACA;EACA;;AAGF;EACC;;AAEA;EACC;EACA;EACA;EACA;;AAGF;EACC;;AAEA;EACC;EACA;EACA;;AAED;EACC;EACA;;AAED;EACC;;AAGD;EACC;EACA;EACA;;AAGD;AAAA;AAAA;EAGC;EACA;;AAGD;EACC;;AAGF;EACC;;AAEA;EACC;EACA;EACA;;AAGD;AAAA;EAEC;EACA;EACA;;AAEA;AAAA;EACC;;AAIF;EACC;EACA;;AAGF;EACC;;AACA;EACC;EACA;EACA;EACA;;AAEA;EACC;;AAIH;EACC;;AAEA;EACC;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;EACA;;AAEA;EACC;;AAGF;EACC;EACA;EACA;;AAED;EACC;EACA;EACA;;AAED;EACC;EACA;EACA;EACA;;AAIH;EACC;;AACA;EACC;EACA;EACA;EACA;;AAEA;EACC;;AAIH;EACC;;AAED;EACC;;AAED;EACC;;AAED;EACC;;;AD1LF;ECkMC;IACC;IACA;IACA,qBACC;;EAkBC;IACC;;EAKD;IACC;IACA;;;AD1NL;ECoOC;IACC;IACA;IACA,qBACC;;EAeC;IACC;;;AC5PL;EACC;EACA;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;;AAGD;EACC;EACA;;AAGD;EACC;EACA;;AAMA;EACC;EACA;;;AFlBH;EE4BG;IACC;IACA;;;ACzCL;EACC;;AAEA;EACC;EACA;EACA;;AAGD;EACC;EACA%22,%22file%22:%22root.css%22%7D */
