@use "../../../mixins/material";
@use "../../../mixins/utils";

.dotdungeon.style-v3 .item--untyped {
	@include utils.tab("details") {
		display: flex;
		flex-direction: column;
		gap: var(--gap);

		.number {
			display: grid;
			grid-template-columns: 1fr 55px;
			align-items: center;
		}
	}
}
