@use "../../../mixins/material";
@use "../../../mixins/utils";

.dotdungeon.style-v3 .item--untyped {
	--gap: 8px;

	.nav-bar {
		@include material.elevate(8);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 6px;

		nav {
			display: flex;
			flex-direction: row;
			gap: var(--gap);
			padding: var(--gap);
		}
	}

	.page-content {
		padding: calc(var(--gap) * 1);
		padding-bottom: 60px;
		height: 100%;

		> .tab {
			height: 100%;
			gap: var(--gap);
		}
	}

	@include utils.tab("general") {
		display: grid;
		--height: 50px;
		grid-template-columns: var(--height) 1fr;
		grid-template-rows: var(--height) 1fr;

		.description {
			grid-column: 1 / -1;
		}
	}

	%flex-col {
		display: flex;
		flex-direction: column;
	}

	@include utils.tab("details") {
		@extend %flex-col;

		.number {
			display: grid;
			grid-template-columns: 1fr 55px;
			align-items: center;
		}
	}

	@include utils.tab("settings") {
		@extend %flex-col;

		.capacity {
			&--calculated {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 8px;
			}
		}
	}
}
