@use "../../vars" as *;

.dotdungeon:not(.style-v3) .item--pet {
	padding: 4px;

	input[type=text] {
		font-size: 1.5em;
		height: 1.5em;
		width: 100%;
	}

	textarea {
		width: 100%;
		resize: vertical;
	}
}