<div class="e-1dp panel item-list">
	{{!--
		Materials
		Foils
	--}}
	<div class="materials">
		<h2>Materials</h2>
		<hr>
	</div>
	<div class="foils">
		<h2>Foils</h2>
		<hr>
	</div>
	<div class="custom">
		<h2>Custom</h2>
		<hr>
	</div>
</div>