<div class="e-1dp panel item-list">
	{{!--
		Materials
		Foils
	--}}
	<div class="materials">
		<h2>Materials</h2>
		<hr>
	</div>
	<div class="foils">
		<h2>Foils</h2>
		<hr>
	</div>
	<div class="custom">
		<h2>Custom</h2>
		<hr>
	</div>
	<div class="aspects">
		<h2>Aspects</h2>
		<hr>
	</div>
	<div class="equipment">
		<h2>Equipment</h2>
		<hr>
	</div>
	<div class="weapons">
		<h2>Weapons</h2>
		<hr>
	</div>
	<div class="armour">
		<h2>Armour</h2>
		<hr>
	</div>
	<div class="structures">
		<h2>Structures</h2>
		<hr>
	</div>
</div>