<div class="e-1dp scrollable panel item-list">
	{{#if computed.noItemTypesVisible}}
		<p>
			Enable a filter to show items of that type!
		</p>
	{{/if}}
	{{#each computed.itemFilters as | filter |}}
		{{#if filter.active}}
			<section class="item-list__group">
				<h2>{{filter.label}}</h2>
				<hr>
				<div class="{{@key}}-list">
					<div>Item</div>
					<div>Item</div>
					<div>Item</div>
					<div>Item</div>
					<div>Item</div>
				</div>
			</section>
		{{/if}}
	{{/each}}
</div>