<div class="e-1dp scrollable panel item-list">
	{{#if computed.noItemTypesVisible}}
		<p>
			Enable a filter to show items of that type!
		</p>
	{{/if}}
	{{#each computed.itemFilters as | filter |}}
		{{#if filter.active}}
			<section class="item-list__group">
				<h2>{{filter.label}}</h2>
				<hr>
				<div class="{{@key}}-list">
					{{#each (lookup @root.items @key) as | item |}}
						{{> (concat "dotdungeon.pc.v2." @../key) @root item=item}}
					{{else}}
						No items found
					{{/each}}
				</div>
			</section>
		{{/if}}
	{{/each}}
</div>