<div class="tab" data-group="inventory" data-tab="player">
	<div class="e-1dp">
		<h2>Containers</h2>
	</div>
	<div class="e-1dp item-list">
		<h2>Item list</h2>
	</div>
	<div class="e-1dp">
		<h2>Capacity</h2>
	</div>
	<div class="e-1dp">
		<h2>Bytes</h2>
	</div>
	<div class="e-1dp">
		<h2>Show</h2>
	</div>
</div>