<div class="skill-group">
	<h3 class="skill-group__label">{{localize "dotdungeon.actor.pc.skills.build"}}</h3>
	{{#each (dotdungeon-array "defense" "magic" "melee" "platforming" "strength")}}
		{{> dotdungeon.skill name=this}}
	{{/each}}
</div>
<div class="skill-group">
	<h3 class="skill-group__label">{{localize "dotdungeon.actor.pc.skills.meta"}}</h3>
	{{#each (dotdungeon-array "alchemy" "arcanum" "dreams" "lore" "navigation")}}
		{{> dotdungeon.skill name=this}}
	{{/each}}
</div>
<div class="skill-group">
	<h3 class="skill-group__label">{{localize "dotdungeon.actor.pc.skills.presence"}}</h3>
	{{#each (dotdungeon-array "alchemy" "arcanum" "dreams" "lore" "navigation")}}
		{{> dotdungeon.skill name=this}}
	{{/each}}
</div>
<div class="skill-group">
	<h3 class="skill-group__label">{{localize "dotdungeon.actor.pc.skills.hands"}}</h3>
	{{#each (dotdungeon-array "animal_handling" "perception" "sneak" "speech" "vibes")}}
		{{> dotdungeon.skill name=this}}
	{{/each}}
</div>