<form autocomplete="off" class="actor--basic-sync">
	<label>
		{{localize "dotdungeon.actor.sync.common.group"}}
		<input
			type="text"
			class="name-input"
			name="name"
			value="{{actor.name}}"
		>
	</label>
	<label>
		{{localize "dotdungeon.actor.sync.common.sync"}}
		<input
			type="number"
			class="sync-input"
			name="system.value"
			value="{{system.value}}"
		>
	</label>
</form>