$iconSizes: 12, 14, 16, 18, 20, 22, 24;

.dotdungeon.dotdungeon.dotdungeon.dotdungeon {
	.icon {

		// The various icon sizes
		@each $size in $iconSizes {
			&--#{$size} {
				height: #{$size}px;
				width: #{$size}px;
			};
		}
	}
}