@use "../vars" as *;

@mixin input-generic {
	border-width: 2px;
	border-radius: 4px;
	border-style: solid;
	border-color: black;
	font-family: $input-font;
	box-shadow: none;

	&:focus,
	&:active {
		transform: scale(103%);
	}
}