$t: transparent;

$background: #0a0a0a;
$surface: #121212;
$primary: $t;
$secondary: $t;
$on-background: $t;
$on-surface: $t;
$on-primary: $t;
$on-secondary: $t;

.actor--pc {
	--sheet-bg: #{$background};
	--nav-bg: #{$surface};
	--panel-bg: #{$surface};

	/* Elevation backgrounds to following Material design */
	--elevation-0dp: #{$surface};
	--elevation-1dp: color-mix(in lab, #{$surface}, white 5%);
	--elevation-2dp: color-mix(in lab, #{$surface}, white 7%);
	--elevation-3dp: color-mix(in lab, #{$surface}, white 8%);
	--elevation-4dp: color-mix(in lab, #{$surface}, white 9%);
	--elevation-6dp: color-mix(in lab, #{$surface}, white 11%);
	--elevation-8dp: color-mix(in lab, #{$surface}, white 12%);
	--elevation-12dp: color-mix(in lab, #{$surface}, white 14%);
	--elevation-16dp: color-mix(in lab, #{$surface}, white 15%);
	--elevation-24dp: color-mix(in lab, #{$surface}, white 16%);
}
