$t: transparent;

$background: #0a0a0a;
$surface: #121212;
$primary: #005300;
$secondary: #6c056c;
$on-background: $t;
$on-surface: white;
$on-primary: $t;
$on-secondary: $t;

.actor--pc {
	--sheet-bg: #{$background};
	--nav-bg: #{$surface};

	/* Elevation backgrounds to following Material design */
	--elevation-0dp-bg: #{$surface};
	--elevation-1dp-bg: color-mix(in lab, transparent, white 5%);
	--elevation-2dp-bg: color-mix(in lab, transparent, white 7%);
	--elevation-3dp-bg: color-mix(in lab, transparent, white 8%);
	--elevation-4dp-bg: color-mix(in lab, transparent, white 9%);
	--elevation-6dp-bg: color-mix(in lab, transparent, white 11%);
	--elevation-8dp-bg: color-mix(in lab, transparent, white 12%);
	--elevation-12dp-bg: color-mix(in lab, transparent, white 14%);
	--elevation-16dp-bg: color-mix(in lab, transparent, white 15%);
	--elevation-24dp-bg: color-mix(in lab, transparent, white 16%);

	--stat-header-text-color: #{$on-surface};
	--stat-dice-select-text-color: #{$on-surface};
	--stat-roll-button-text-color: #{$on-surface};
	--stat-divider-color: #{$secondary};
	--skill-name-text-color: #{$on-surface};
	--skill-training-select: #{$surface};
	--skill-training-select-text-color: #{$on-surface};
	--skill-roll-button-text-color: #{$on-surface};
}
