/*
Disclaimer: This CSS is used by a custom web component and is scoped to JUST
the corresponding web component. Importing this into other files is forbidden.
*/

$default-border-radius: 4px;
$default-height: 1.25rem;

:host {
	min-width: max-content;
}

div {
	display: grid;
	grid-template-columns: var(--height, $default-height) 50px var(--height, $default-height);
	// I dunno why this is needed for the height to not be calculated as 17px,
	// but it is for some arcane reason
	grid-template-rows: var(--height, $default-height);
}

input {
	border: none;
	outline: none;
	font-family: inherit;
	text-align: center;
	padding: 0;

	&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0
	}
}

button {
	border: none;
	outline: none;
	aspect-ratio: 1 / 1;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		cursor: pointer;
	}
}

.increment {
	border-radius: 0 var(--border-radius, $default-border-radius) var(--border-radius, 4px) 0;
}
.decrement {
	border-radius: var(--border-radius, $default-border-radius) 0 0 var(--border-radius, $default-border-radius);
}
