$t: transparent;

$background: #0a0a0a;
$surface: #121212;
$primary: #005300;
$secondary: #6c056c;
$danger: red;
$on-background: $t;
$on-surface: white;
$on-primary: $t;
$on-secondary: $t;
$on-danger: black;

$title-font: 'Pixelify Sans', sans-serif;
$body-font: sans-serif;

.actor--pc-v2 {
	--sheet-bg: #{$background};
	--nav-bg: #{$surface};
	--nav-button-text: #{$on-surface};

	--tab-font: #{$title-font};
	--input-font: #{$body-font};

	--scrollbar-handle-color: #{$primary};
	--scrollbar-handle-border-color: color-mix(in lab, white 40%, var(--scrollbar-handle-color));

	/* Elevation backgrounds to following Material design */
	--elevation-0dp-bg: #{$surface};
	--elevation-1dp-bg: color-mix(in lab, transparent, white 5%);
	--elevation-2dp-bg: color-mix(in lab, transparent, white 7%);
	--elevation-3dp-bg: color-mix(in lab, transparent, white 8%);
	--elevation-4dp-bg: color-mix(in lab, transparent, white 9%);
	--elevation-6dp-bg: color-mix(in lab, transparent, white 11%);
	--elevation-8dp-bg: color-mix(in lab, transparent, white 12%);
	--elevation-12dp-bg: color-mix(in lab, transparent, white 14%);
	--elevation-16dp-bg: color-mix(in lab, transparent, white 15%);
	--elevation-24dp-bg: color-mix(in lab, transparent, white 16%);

	--stat-header-text-color: #{$on-surface};
	--stat-dice-select-text-color: #{$on-surface};
	--stat-dice-select-bg: #{$surface};
	--stat-roll-button-text-color: #{$on-surface};
	--stat-divider-color: #{$secondary};
	--stat-not-chosen-placeholder-text-color: #{$on-surface};
	--skill-name-text-color: #{$on-surface};
	--skill-training-select-bg: #{$surface};
	--skill-training-select-text-color: #{$on-surface};
	--skill-roll-button-text-color: #{$on-surface};

	/* Common Inventory Item Variables */
	--inventory-item-name-font: #{$body-font};
	--inventory-item-name-font-size: 0.875rem;

	/* Material inventory item details */
	--inventory-material-color: white;
	--inventory-material-hover-color: white;
	--inventory-material-focus-color: white;

	/* Untyped (custom) inventory item details */
	--inventory-untyped-description-color: white;
	--inventory-untyped-card-color: white;
	--inventory-untyped-send-to-chat-color: white;
	--inventory-untyped-edit-color: white;
	--inventory-untyped-delete-color: white;
	--inventory-untyped-delete-bg: color-mix(in lab, #{$danger} 30%, #{$surface});
	--inventory-untyped-delete-bg-hover: color-mix(in lab, #{$danger} 37%, #{$surface});;
	--inventory-untyped-quantity-font-size: 14px;
	--inventory-untyped-quantity-color: white;
	--inventory-untyped-quantity-input-color: white;
}
