<div class="tab" data-group="page" data-tab="effects">
	<div class="effect panel">
		Am Effect, Hewwo
	</div>
	<button>
		<dd-icon name="ui/plus" var:fill="currentColor"></dd-icon>
		Create Effect
	</button>
</div>
