@use "../../../vars" as *;
@use "avatar" as *;

.dotdungeon .actor--mob {
	--gap: 8px;
	--avatar-size: 100px;
	--row-height: calc((var(--avatar-size) - var(--gap)) / 2);
	padding: var(--gap);
	display: grid;
	grid-template-columns: var(--avatar-size) repeat(4, minmax(0, 1fr));
	grid-template-rows: repeat(5, var(--row-height)) minmax(var(--row-height), 1fr);
	gap: var(--gap);
	grid-template-areas:
		"avatar . . . ."
		"avatar . . . ."
		"dice . . . ."
		"dice description description stunts stunts"
		"dice description description stunts stunts"
		"dice description description stunts stunts";

	label, .dice {
		border: 2px solid black;
		border-radius: 4px;
		gap: 4px;
		padding: 4px;
	}

	input.masked {
		border: 2px solid black;
		background: none;
		box-shadow: none;
		&:focus {
			transform: scale(102%);
		}
	}

	.wide {
		grid-column: span 2;
	}

// Area-specific stylings

	.name {
		height: 100%;
		font-size: 1.5rem;
		input {
			height: 100%;
		}
	}

	.dice {
		grid-area: dice;
		display: flex;
		flex-direction: column;

		.die {
			display: flex;
			flex-direction: row;
			width: 100%;
			border: 2px solid black;
			border-radius: 4px;

			.formula {
				flex-grow: 1;
				align-self: center;
			}
		}
	}

	.stunts {
		grid-area: stunts;
	}
	.description {
		grid-area: description;
	}

	.avatar {
		@include avatar;
		border-radius: 4px;
	}
}