@use "sass:color";

$title-font: 'Pixelify Sans', sans-serif;
$body-font: sans-serif;
$input-font: $body-font;
$background: #f2f2f2;

$colour-confirm: #048A81;
$text-on-confirm: white;

$colour-neutral: #007ACC;
$text-on-neutral: white;

$colour-danger: #960200;
$text-on-danger: white;