@use "./mixins/foundry" as *;
@use "./vars.scss" as *;

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

.dotdungeon {
	--breakpoint-medium: 700px;
	--breakpoint-small: 550px;
	--breakpoint-extra-small: 400px;


	container-type: size;

	> .window-content {
		padding: 0;
		background: $background;
	}

	h2, h3, h4, h5, h6 {
		@include fvtt_reset;
		font-family: $title-font;
		margin: 0;
	}

	button, button:hover {
		@include fvtt_reset;
		font-family: inherit;
		cursor: pointer;
	}

	select, select:hover {
		cursor: pointer;
	}
}

@import "./sheets/partials/stat.scss";
@import "./sheets/actor/mvp.scss";