<div class="panel panel--{{class}}">
	<div class="panel__header">
		<h2>
			{{ localize title }}
		</h2>
		<div class="icon icon--minimize"></div>
		<div class="icon icon--maximize"></div>
		<div class="icon icon--close"></div>
	</div>
	<div class="panel__content">
		{{> @partial-block }}
	</div>
</div>