<div class="skill">
	<label>{{localize (concat "skill." name)}}</label>
	<select>
		<option value="">Untrained</option>
		<option value="locked">Locked</option>
		<option value="+2">Trained (+2)</option>
		<option value="+4">Expert (+4)</option>
	</select>
</div>