<div class="skill">
	<span>
		{{localize (concat "dotdungeon.skill." name)}}
	</span>
	<select aria-label="{{localize "dotdungeon.aria.skill-dropdown" skill=name}}">
		<option value="">Novice</option>
		<option value="locked">Locked</option>
		<option value="+2">Trained</option>
		<option value="+4">Expert</option>
	</select>
</div>